/*
 * GENERICOS
 */
body {
	max-width: 1000px;
	margin: 2px;
	padding: 0;
	font-size: 10px;
	border: 0;
 	font-family: helvetica,verdana,arial,sans-serif;
	margin-left: auto;
	margin-right: auto;
}

img {
    border:0;
}

a {
	color: #000000;
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style-type: none;
}

li {
	margin: 0;
}

li img {
	height: 10px;
	width: 10px;
}

.seleccionar {
    cursor: pointer;
}


/*
 * LOGIN
 */
div.login {
	margin-left: auto;
	margin-right: auto;
	background: transparent url(img/fondo_login.jpg) no-repeat;
	width: 733px;
	height: 525px;
}

div.login div.tabs {
    padding-top: 15px;
    width: 733px;
    height: 23px;
}

div.login div.tabs a {
    width: 183px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    float: left;
}

div.login div.ingreso {
	padding-top: 217px;
	padding-left: 290px;
	width: 200px;
	height: 100px;
}

div.login div.ingreso label {
	float: left;
}


div.login div.ingreso div.input input {
	margin-bottom: 4px;
	float: left;
}

div.login div.ingreso .submit input {
	margin-left: 245px;
	padding-right: 40px;
	padding-bottom: 10px;
	margin-top: 5px;
	font-weight: normal;
	background: transparent url(img/boton_secundario_gris.gif) no-repeat;
	cursor: pointer;
}

div.links_externos {
	margin-left: 140px;
	margin-top: -20px;
}

div.links_externos a {
	margin: 2px;
	display: block;
	float: left;
}

div.links_externos a img {
	height: 14px;
}


/*
 * INDEX
 */
div.index .botones_acciones {
	float: left;
	width: 410px;
}

div.index div.bloque_superior_index {
	padding-left: 15px;
	border-bottom: 1px solid;
	height: 28px;
	margin-right: 8px;
}


/**
 * PAGINADOR
 */
div.index div.paginador_superior {
	padding-top: 9px;
	margin-right: 13px;
	float: right;
}

div.index div.bloque_inferior_index {
	margin-bottom: 50px;
	padding-right: 22px;
}

div.index div.navegacion {
	float: right;
}

div.index div.navegacion div {
    float: left;
}

div.index div.navegacion a {
    float: left;
}

div.index div.navegacion img {
	width: 14px;
	height: 14px;
}

div.index div.posicion {
	float: right;
	padding-right: 20px;
}

div.index div.cantidad_a_mostrar {
	float: right;
	padding-right: 20px;
}

div.index div.cantidad_a_mostrar a {
	color: #000000;
	padding: 0 1px 0 1px;
}

div.index div.cantidad_a_mostrar span {
	text-decoration: underline;
	padding: 0 1px 0 1px;
}


/**
 * LAYOUT
 */
div.contenido {
	background: transparent url(img/fondo_cuerpo.gif) no-repeat;
	margin-top: -4px;
	min-height: 650px;
}

div.cuerpo {
	float: right;
	width: 81%;
 	padding-top: 10px;
}

div.encabezado {
	background: #F49E23 url(img/encabezado.gif) no-repeat;
	width: 100%;
	height: 66px;
	color: #ffffff;
}

div.encabezado ul {
	padding-top: 3px;
	margin: 0;
}

div.encabezado ul li {
	padding-top: 1px;
}

div.encabezado span.default {
    color: #202022;
    font-weight: bold;
    font-size: 13px;
}

div.banda_izquierda {
	background: url(img/banda.gif) no-repeat;
	min-width: 380px;
	height: 45px;
	float: left;
	margin-top: -4px;
}

div.banda_izquierda p {
	padding-top: 19px;
	padding-left: 5px;
	float: left;
	font-size: 12px;
}

div.banda {
	background: url(img/banda_repetir.gif) repeat-x;
	width: 100%;
	height: 45px;
	text-align: right;
	padding-top: 4px;
}

div.banda span {
	padding: 0 30px;
	color: #FFFFFF;
}

div.banda span img {
	width: 12px;
	height: 12px;
}

div.banda span.bread_crumb_class {
	color: #000000;
	padding: 0;
}

div.banda img {
	padding-left: 4px;
}

div.banda p {
	margin: 5px 10px 0 0;
}

div.banda h5 {
	width: 500px;
	text-align: left;
	float: left;
	padding-top: 4px;
	font-size: 12px;
}

div.grupos {
	float: right;
	text-align: right;
	padding: 5px 30px;
	height: 50px;
	width: 270px;
	overflow: auto;
	color: #FFFFFF;
}

div.grupos a {
	color: #FFFFFF;
}


/**
 * MENU
 */
div.menu {
	width: 18%;
	float: left;
	font-weight: bold;
}

div.menu a {
	display: block;
	height: 30px;
	margin-top: 2px;
}

div.menu a:hover {
	text-decoration: none;
}

div.menu a.header {
	border: 0;
	background: transparent url(img/boton_menu_padre.gif) no-repeat;
}

div.menu div {
	border: 0;
}

div.menu img {
	float: left;
}

div.menu a span {
	font-size: 11px;
	color: #ffffff;
	padding-top: 6px;
	padding-left: 5px;
	float: left;
}

div.menu div.panel span {
	float: right;
	padding-right: 17px;
}

div.menu div.panel a {
	background: transparent url(img/boton_menu_hijo.gif) no-repeat;
}

div.menu div.panel {
	height: 385px;
}

div.menu div.panel a:hover {
	background-image: url(img/boton_menu_hijo_activo.gif);
}


/**
 * CAJAS REDONDEADAS
 */
div.unica {
	float: left;
	width: 100%;
    max-width: 860px;
    margin-bottom: 40px;
    margin-right: 30%;
}

div.unica:before, div.unica:after {
    display: block;
    line-height: 0;
}

div.unica:after {
    margin-top: -35px;
}

div.index div.unica {
    background: url(img/rs-right-gris.gif) right repeat-y;
}

div.index div.unica:before {
    background: url(img/rs-topright-gris.gif) top right no-repeat;
    content: url(img/rs-topleft-gris.gif);
}

div.index div.unica:after {
    background: url(img/rs-bottomright-gris.gif) bottom right no-repeat;
    content: url(img/rs-bottomleft-gris.gif);
}

div.add div.unica {
    background: url(img/rs-right-rosa.gif) right repeat-y;
}

div.add div.unica:before {
    background: url(img/rs-topright-rosa.gif) top right no-repeat;
    content: url(img/rs-topleft-rosa.gif);
}

div.add div.unica:after {
    background: url(img/rs-bottomright-rosa.gif) bottom right no-repeat;
    content: url(img/rs-bottomleft-rosa.gif);
}

div.index div.tabla img {
	padding:0 1px 0 2px;
	width: 14px;
	height: 14px;
}

div.session_flash {
	color: #EDEEF0;
	margin: 8px 3px 0 0;
	position: absolute;
	left: 595px;
	width: 534px;
	z-index: 100;
	height: 103px;
	font-size: 12px;
}

div.session_flash_error {
	background: transparent url(img/aviso_error.gif) no-repeat;
}

div.session_flash_ok {
	background: transparent url(img/aviso_ok.gif) no-repeat;
}

div.session_flash_warning {
	background: transparent url(img/aviso_warning.gif) no-repeat;
}

div.session_flash_warning_detalle {
	background: transparent url(img/aviso_warning_detalle.gif) no-repeat;
	top: 105px;
	height: 309px;
	overflow: auto;
	display: none;
	border:2px solid;
}	

div.session_flash_error_detalle {
	background: transparent url(img/aviso_error_detalle.gif) no-repeat;
	top: 105px;
	height: 309px;
	display: none;
}	

div.session_flash span.detalle {
	font-size: 10px;
	width: 480px;
	float: left;
	padding: 5px 0 0 45px;
}


div.session_flash span.contenido {
	float: left;
	width: 480px;
	padding: 0 0 0 45px;
}

div.session_flash span.titulos {
	float: left;
	padding-top: 6px;
	margin-left: 45px;
	border-bottom: 1px dotted;
}

div.session_flash img {
	padding: 7px 0 0 12px;
	float: left;
}

div.session_flash span {
	float: right;
	margin-right: 18px;
	margin-top: 7px;
}


/**
 * LABELS
 */
label, .label {
	text-align: right;
	width: 120px;
	padding: 2px 3px;
	color: #000000;
	float: left;
}

label.radio_label{
	width: 195px;
	text-align:left;
}


/**
 * LEGENDS
 */
legend {
	font-size: 13px;
	border-width: 1px;
	border-style: solid;
	border-bottom-color: #B7B7B9;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}

legend img {
	width: 22px;
	height: 22px;
	padding-right: 18px;
	margin-top: -7px;
}

legend span {
	display: block;
	width: 790px;
}

div.index legend {
	padding-bottom: 2px;
	padding-left: 10px;
}

div.add legend {
	padding-top: 10px;
	padding-left: 10px;
	background: url(img/legend_principal.gif) no-repeat;
}

div.add fieldset.master legend {
	background: url(img/legend_secundario.gif) no-repeat;
}


/**
 * FIELDSETS
 */
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

fieldset.master {
	padding-top: 25px;
	padding-bottom: 30px;
}

fieldset.detail {
	padding-top: 10px;
	padding-bottom: 30px;
}


/* TABLAS */
div.tabla {
    margin: 7px 13px 13px 13px;
	width: 100%;
	overflow: auto;
	padding: 0;
	max-width: 790px;
}

div.tabla table {
	border-collapse: collapse;
	background-color: #F7CD93;
	font-size: 10px;
	font-weight: normal;
	width: 778px;
}

div.tabla table tr.alternativo {
	background-color: #FFFFFF;
}

div.tabla table th, td.imitar_th_izquierda, td.imitar_th_derecha, td.imitar_th_centro {
	white-space: nowrap;
	background-color: #807F84;
    color: #FFFFFF;
	padding: 5px;
    border: 1px solid #cccccc;
}

div.tabla td.imitar_th_derecha {
	text-align: right;
}

div.tabla td.imitar_th_centro {
	text-align: center;
}

div.tabla table th a {
	color: #FFFFFF;
}

div.tabla table th div.acciones {
	font-weight: normal;
	text-align: left;
	margin-left: -3px;
}

div.tabla table th .acciones span {
	font-weight: bold;
	margin-left: 10px;
}

div.tabla table th .hide_actions {
    background: url(img/hide_actions.gif) no-repeat;
    cursor:pointer;
    padding-right: 10px;
    padding-left: 10px;
}

div.tabla table td {
	padding: 3px 5px 3px 5px;
    border: 1px solid #cccccc;
}

div.tabla table td.acciones {
	white-space: nowrap;
	padding-right: 13px;
}

div.tabla table th.derecha, table td.derecha {
	text-align: right;
	white-space: nowrap;
}

div.tabla table th.izquierda, table td.izquierda {
	text-align: left;
}

div.tabla table th.centro, table td.centro {
	text-align: center;
}

div.tabla table a.sin_orden, table a.asc_orden, table a.desc_orden {
	background-color: transparent;
	background-repeat: no-repeat;
	padding-left: 15px;
	padding-top: 3px;
}

div.tabla table a.sin_orden {
	background-image: url(img/orden_0.gif);
}

div.tabla table a.asc_orden {
	background-image: url(img/orden_1.gif);
}

div.tabla table a.desc_orden {
	background-image: url(img/orden_2.gif);
}


/**
 * IMPUTS
 */
div.input {
	padding: 3px 0 3px 0;
	margin-left: 5px;
	float: left;
	width: 365px;
}

input, textarea, select {
	float: left;
	width: 196px;
	margin-right: 2px;
	border: 0;
	background: transparent url(img/text_input.gif) no-repeat;
}

input[type="file"] {
	width: 210px;
}

input[type="radio"], input[type="checkbox"] {
	width: 13px;
	margin: 1px;
}

div.radio_opciones{
	float: left;
}

p.radio {
	height: 16px;
	margin:0;
	padding:0;
}

input.periodo {
	width: 140px;
}

input.derecha {
	text-align: right;
}

div.autocomplete {
	padding-bottom: 15px;
	padding-top: 15px;
}

div.autocomplete img {
	padding-left: 2px;
}

div.autocomplete input.autocomplete {
	margin-bottom: 10px;
}

textarea {
	background-color: transparent;
	background-repeat: no-repeat;
	height: 48px;
}

div.add textarea {
	background-image: url(img/wide_textarea.gif);
	width: 565px;
}

div.index textarea {
	background-image: url(img/textarea.gif);
	width: 196px;
}

.expand_text_area {
    background: url(img/expand_text_area.png) no-repeat;
    padding-left: 6px;
    width: 15px;
    height: 16px;
    float: left;
    cursor: pointer;
}

.colapse_text_area {
    background: url(img/colapse_text_area.png) no-repeat;
    padding-left: 6px;
    width: 15px;
    height: 16px;
    float: left;
    cursor: pointer;
}

div.add div.textarea {
	padding: 3px 0 3px 0;
	margin-left: 5px;
	float: left;
	width: 720px;
}

div.wysiwyg {
	padding: 20px 0 3px 0;
	margin-left: 15px;
    float: left;
	width: 770px;
}

div.wysiwyg div.editor {
	width: 560px;
	float: left;
}

div.wysiwyg label {
	width: 110px;
}

span.solo_lectura {
    padding-top: 2px;
	font-weight: bold;
	color: #948B84;
    float: left;
}

/**
 * CHECKBOXS
 */
div.input div.checkbox {
	float:left;
	width: 365px;
	padding-left: 130px;
}

div.input div.checkbox label{
	text-align: left;
	width: 200px;
}

div.input div.seleccion {
	padding-left: 130px;
} 

div.add div.botones_tablas_from_to {
	padding-bottom: 20px;
	padding-top: 10px;
	margin-right: 20px;
}

/* TABLAS FROM TO */
div.tablasFromTo {
	width: 100%;
	margin-bottom: 130px;
}

div.tablasFromTo table.izquierda, table.derecha {
	width: 380px;
	min-width: 380px;
	max-width: 380px;
	float: left;
	margin-top: 8px;
	display: block;
}

div.tablasFromTo table.izquierda {
	margin-left: 10px;
}

div.tablasFromTo table.derecha {
	margin-left: 22px;
}

div.tablasFromTo thead td.quitar_todos, td.agregar_todos {
	cursor:pointer;
	text-align:center;
	padding:8px;
}

div.tablasFromTo td.quitar_todos {
	background: url(img/quitar_todos.gif) no-repeat left;
}

div.tablasFromTo td.agregar_todos{
	background: url(img/agregar_todos.gif) no-repeat right;
}

div.tablasFromTo thead th {
	min-width: 370px
}

div.tablasFromTo tbody td {
	width: 100%;
}

div.tablasFromTo tbody td.agregar {
	background: url(img/agregar.gif) no-repeat center;
	min-width: 20px;
	max-width: 20px;
	width: 20px;
	cursor: pointer;
}

div.tablasFromTo tbody td.quitar {
	background: url(img/quitar.gif) no-repeat center;
	min-width: 20px;
	max-width: 20px;
	width: 20px;
	cursor: pointer;
}


/*
 * DESGLOSES
 */
div.desglose div.tabla {
	margin-bottom: 35px;
}

div.desglose div.tabla table {
	width: 740px;
}

div.desglose legend span {
	width: 740px;
}

div.desglose div.cabecera {
	height: 20px;
}

img.breakdown_icon {
	cursor: pointer;
}

div.desglose span.titulo {
	font-size: 13px;
	font-weight: bold;
	padding-left: 17px;
	float: left;
}

div.desglose span.acciones {
	float: right;
	padding-right: 15px;
}


/*
 * BUSCADORES
 */
div.buscadores {
	padding: 10px 40px 2px 0;
}

div.buscadores .submit input {
	float: right;
}


/**
 * FORMS
 */
div.add div.volver_a_insertar label {
	width: 210px;
	height: 15px;
	padding: 0;
}

div.add div.botones {
	height: 50px;
	float: right;
}

a.link_boton, a.link_boton:hover, a.link_boton_rojo, a.link_boton_rojo:hover {
	font-weight: normal;
	padding-top: 3px;
	padding-right: 2px;
	height:20px;
	width:79px;
	text-align:center;
	float:left;
	color: #FFFFFF;
	font-size: 11px;
	text-decoration:none;
}

a.link_boton {
	background: url(img/boton_secundario_gris.gif) no-repeat;
}

a.link_boton_rojo {
	background: url(img/boton_secundario_naranja.gif) no-repeat;
}

.submit input {
	float: left;
	margin: 7px 3px 3px 3px;
	padding-bottom: 3px;
	width: 120px;
	height: 28px;
	color: #FFFFFF;
	font-size: 12px;
	background: transparent url(img/boton_condiciones_gris.gif) no-repeat;
	cursor: pointer;
}

.submit input.boton_rojo {
	background: url(img/boton_condiciones_naranja.gif) no-repeat;
}

/*
 * VARIOS
 */
.oculto {
	display: none;
}

span.aclaracion {
	float: left;
	color: #666666;
	width: 350px;
}

div.error-message {
	color: red;
	float: left;
}

span.aclaracion img {
	padding-top: 3px;
}

div.clear {
	clear: both;
}

span.color_rojo {
	padding-left: 2px;
	color: #F49E23;
}

.lov {
    overflow: auto;
}

img.lupa_lov {
	width: 20px;
	height: 18px;
    cursor: pointer;
}

img.fecha {
	cursor: pointer;
	width: 25px;
	height: 25px;
}

img.periodo, img.after {
	cursor: pointer;
	width: 15px;
	height: 15px;
	padding-left: 1px;
}

img.imagen_mostrar {
	width: 100px;
	height: 100px;
	margin-left: 125px;
}

form.edicion_en_grilla_deprecated input {
	background: none;
	width: 50px;
	height: 11px;
	text-align: right;
	float: right;
	padding: 0;
	font-size: 11px;
	margin: 0;
	font-family: helvetica,verdana,arial,sans-serif;
}

/** SIMPLEMODAL CSS */
#simplemodal-overlay {
    background-color:#000;
    cursor:wait;
}

#simplemodal-container {
    background-color:#fff;
    border:0;
    padding:0;
    margin:0;
}

#simplemodal-container a.modalCloseImg {
    background:url(img/cerrar.png) no-repeat;
    width:25px;
    height:29px;
    display:inline;
    z-index:3200;
    position:absolute;
    top:-14px;
    right:-18px;
    cursor:pointer;
}






































































tr.fila_resaltada {
	background-color: #E6FF55;
}

div.quitarDetalle {
	float: right;
	margin-top: -23px;
	padding-right: 10px;
}

div.agregarDetalle {
	float: right;
	padding-right: 28px;
}

div.add .submit {
	float:right;
}