/*
 * GENERICOS
 */
body {
	max-width: 1000px;
	margin: 2px;
	padding: 0;
	font-size: 10px;
	border: 0;
 	font-family: helvetica,verdana,arial,sans-serif;
	margin-left: auto;
	margin-right: auto;
}

img {
    border:0;
}

a {
	color: #000000;
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style-type: none;
}

li {
	margin: 0;
}

li img {
	height: 10px;
	width: 10px;
}

.seleccionar {
    cursor: pointer;
}


/*
 * INSTALL
 */
div.install {
	background: transparent url(img/fondo_install.jpg) no-repeat;
	margin-left: auto;
	margin-right: auto;
	width: 733px;
	height: 525px;
}

div.install div.tabs {
    padding-top: 15px;
    width: 733px;
    height: 23px;
}

div.install div.tabs a {
    width: 183px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    float: left;
}

/**
 * CAJAS REDONDEADAS
 */
div.unica {
	float: left;
	width: 100%;
    max-width: 860px;
	margin-top: 11px;
	margin-left: 5px;
}

div.unica:before, div.unica:after {
    display: block;
    line-height: 0;
}

div.unica:after {
    margin-top: -35px;
}

div.index div.unica {
    background: url(img/rs-right-gris.gif) right repeat-y;
}

div.index div.unica:before {
    background: url(img/rs-topright-gris.gif) top right no-repeat;
    content: url(img/rs-topleft-gris.gif);
}

div.index div.unica:after {
    background: url(img/rs-bottomright-gris.gif) bottom right no-repeat;
    content: url(img/rs-bottomleft-gris.gif);
}

div.add div.unica {
    background: url(img/rs-right-rosa.gif) right repeat-y;
}

div.add div.unica:before {
    background: url(img/rs-topright-rosa.gif) top right no-repeat;
    content: url(img/rs-topleft-rosa.gif);
}

div.add div.unica:after {
    background: url(img/rs-bottomright-rosa.gif) bottom right no-repeat;
    content: url(img/rs-bottomleft-rosa.gif);
}

div.index div.tabla img {
	padding:0 1px 0 2px;
	width: 14px;
	height: 14px;
}

div.message {
	padding: 25px 0 0 10px;
	color: red;
	font-size: 16px;
}

/**
 * LABELS
 */
label, .label {
	text-align: right;
	width: 120px;
	padding: 2px 3px;
	color: #000000;
	float: left;
}
/**
 * LEGENDS
 */
legend {
	font-size: 13px;
	border-width: 1px;
	border-style: solid;
	border-bottom-color: #B7B7B9;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}

legend img {
	width: 22px;
	height: 22px;
	padding-right: 18px;
	margin-top: -7px;
}

legend span {
	display: block;
	width: 700px;
}

div.index legend {
	padding-bottom: 2px;
	padding-left: 10px;
}

div.add legend {
	padding-top: 10px;
	padding-left: 10px;
	background: url(img/legend_principal.gif) no-repeat;
}

div.add fieldset.master legend {
	background: url(img/legend_secundario.gif) no-repeat;
}


/**
 * FIELDSETS
 */
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

fieldset.master {
	padding-top: 25px;
	padding-bottom: 30px;
}


/**
 * IMPUTS
 */
div.input {
	padding: 3px 0 3px 0;
	margin-left: 5px;
	float: left;
	width: 365px;
}

input, textarea, select {
	float: left;
	width: 196px;
	margin-right: 2px;
	border: 0;
	background: transparent url(img/text_input.gif) no-repeat;
}


span.solo_lectura {
    padding-top: 2px;
	font-weight: bold;
	color: #948B84;
    float: left;
}

/**
 * FORMS
 */
div.add div.volver_a_insertar label {
	width: 210px;
	height: 15px;
	padding: 0;
}

div.add div.botones {
	height: 50px;
	float: right;
}
.submit input {
	float: left;
	margin: 7px 3px 3px 3px;
	padding-bottom: 3px;
	width: 120px;
	height: 28px;
	color: #FFFFFF;
	font-size: 12px;
	background: transparent url(img/boton_condiciones_gris.gif) no-repeat;
	cursor: pointer;
}